<!-- <p>home works!</p>  --> 

<div class="row" id="home_page_background_img"></div>

<div class="row" id="home-page">
    <h1 style="text-align: center;">BEST OFFER FOR TODAY!!!</h1>
    <div class="card" style="background-color: #C2B9B0; width: 16.5rem;">
      <img src="assets/images/restaurant1.png" class="card-img-top" alt="..." height="200px" width="200px">
      <div class="card-body">
        <h5 class="card-title">KFC</h5>
        <p class="card-text">The most recurrent motif in these stories is that Ganesha was created by Parvati using clay to protect her and Shiva beheaded him when Ganesha came between Shiva and Parvati. Shiva then replaced Ganesha's original.</p>
        <a class="btn btn-primary" (click)="viewMenu(1)">View Menu</a>
      </div>
    </div>
    <div class="card" style="background-color: #C2B9B0; width: 16.5rem;">
      <img src="assets/images/restaurant2.png" class="card-img-top" alt="..." height="200px" width="200px">
      <div class="card-body">
        <h5 class="card-title">McDonals</h5>
        <p class="card-text">Masala Dosa, also called Masale dosey, is a South Indian dish. It is a type of dosa and has its origin in the town of Udupi in Karnataka. It is made from rice, lentils, Urad dal, Chana dal, fenugreek, puffed rice, Toor dal, dry red chilli.</p>
        <a class="btn btn-primary" (click)="viewMenu(2)">View Menu</a>
      </div>
    </div>
    <div class="card" style="background-color: #C2B9B0; width: 17rem;">
      <img src="assets/images/restaurant3.png" class="card-img-top" alt="..." height="200px" width="200px">
      <div class="card-body">
        <h5 class="card-title">Starbucks</h5>
        <p class="card-text">Idli or idly is a type of savoury rice cake, originating from South India, popular as a breakfast food in Southern India and in Sri Lanka. The cakes are made by steaming a batter consisting of fermented black lentils and rice.</p>
        <a class="btn btn-primary" (click)="viewMenu(3)">View Menu</a>
      </div>
    </div>
    <div class="card" style="background-color: #C2B9B0; width: 17rem;">
      <img src="assets/images/restaurant4.png" class="card-img-top" alt="..." height="200px" width="200px">
      <div class="card-body">
        <h5 class="card-title">Tim Hortons</h5>
        <p class="card-text">Chow mein is a Chinese dish of fried (chow) noodles (mein). The variations are endless depending on the chef or region, stir-fried with pork, chicken, shrimp and vegetables, such as cabbage, beansprouts, bell pepper, carrot and spring onion.</p>
        <a class="btn btn-primary" (click)="viewMenu(4)">View Menu</a>
      </div>
    </div>
    <div class="card" style="background-color: #C2B9B0; width: 17rem;">
      <img src="assets/images/restaurant5.png" class="card-img-top" alt="..." height="200px" width="200px">
      <div class="card-body">
        <h5 class="card-title">Taco Bell</h5>
        <p class="card-text">Manchurian is a class of Indian Chinese dish made by roughly chopping and deep-frying ingredients such as chicken, cauliflower, prawns, fish, mutton, and paneer, and then sautéeing them in a sauce flavored with soy sauce.</p>
        <a class="btn btn-primary" (click)="viewMenu(5)">View Menu</a>
      </div>
    </div>
    <button class="btn btn-primary" (click)="viewRestaurants()">more restaurants</button>
    <!-- <a style="color: blue;" (click)="viewRestaurants()">more restaurants</a> -->
</div>