<!-- <p>owner-restaurants works!</p>  -->

<div class="row" id="admin_page">
    <mat-tab-group>
        <mat-tab label="Restaurants">
            <mat-tab-group>
                <mat-tab label="View Restaurants">
                    <app-view-owner-restaurants></app-view-owner-restaurants>
                </mat-tab>
                <mat-tab label="Add Restaurant">
                    <app-add-owner-restaurants></app-add-owner-restaurants>
                </mat-tab>
                <mat-tab label="Update Restaurant">
                    <app-update-owner-restaurants></app-update-owner-restaurants>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</div>
      