<!-- <p>admin works!</p> -->

<div class="row" id="admin_page">
<mat-tab-group>
    <mat-tab label="Users">
        <mat-tab-group>
            <mat-tab label="View Users">
                <app-user-view></app-user-view>
            </mat-tab>
            <mat-tab label="Add User">
                <app-user-add></app-user-add>
            </mat-tab>
            <mat-tab label="Update User">
                <app-user-update></app-user-update>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Restaurants">
        <mat-tab-group>
            <mat-tab label="View Restaurants">
                <app-restaurant-view></app-restaurant-view>
            </mat-tab>
            <mat-tab label="Add Restaurant">
                <app-restaurant-add></app-restaurant-add>
            </mat-tab>
            <mat-tab label="Update Restaurant">
                <app-restaurant-update></app-restaurant-update>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Orders">
        <mat-tab-group>
            <mat-tab label="View Orders">
                <app-view-order></app-view-order>
            </mat-tab>
            <mat-tab label="Add Order">
                <app-add-order></app-add-order>
            </mat-tab>
            <mat-tab label="Update Order">
                <app-update-order></app-update-order>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>
</div>
  